<!DOCTYPE html>
<html lang="en">
<head>
    <title>Syllabus Stripper</title>
    <meta charset="UTF-8">
    <link rel = "stylesheet"
          type = "text/css"
          href = "../static/index.css" />
    <script src="../static/index.js"> </script>
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>

    <div class = 'topbar' id='topbar'>
        <a dir="aboutus.php" id="aboutus">About Us</a>
    </div>


    <h1 id="title">About Us</h1>
    <?php
?>
