h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Lato',sans-serif;
}

.topbar {
    background: darkolivegreen;
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 100%;
}

body {
    background: #bcf7ff;
}

p {
    font-size: 20px;
    font-family: 'Lato',sans-serif;
}

input[id="file"] {
    font-size: 20px;
    font-family: 'Lato',sans-serif;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 600px;
}

input[id="submit"] {
    font-size: 20px;
    font-family: 'Lato',sans-serif;
    border-radius: 25px;
    background: #73AD21;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}